:root {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.message-area {
  scrollbar-width: thin;
  scrollbar-color: #9e9e9e #f5f5f5;
}

.message-area::-webkit-scrollbar {
  width: 8px;
}

.message-area::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.message-area::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
  border-radius: 20px;
}

/* Анимации для сообщений */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message-animation {
  animation: fadeIn 0.3s ease-out;
}
